@page "/weather"

<PageTitle>Weather</PageTitle>

<h3>Weather</h3>

<p>This component demonstrates showing data.</p>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private WeatherForecast[] forecasts = Array.Empty<WeatherForecast>();

    protected override void OnInitialized()
    {
        forecasts = new[]
        {
            new WeatherForecast { Date = DateTime.Now.AddDays(1), TemperatureC = 30, Summary = "Chilly" },
            new WeatherForecast { Date = DateTime.Now.AddDays(2), TemperatureC = -1, Summary = "Scorching" }
        };
    }

    private class WeatherForecast
    {
        public DateTime Date { get; set; }
        public int TemperatureC { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
        public string? Summary { get; set; }
    }
}